@import "tailwindcss";

@theme inline {
  --color-sidebar-background: var(--sidebar-background);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-text: var(--text-color);
}

:root {
  --sidebar-background: #040128;
  --primary-color: #9747ff;
  --secondary-color: #584bdd;
  --text-color: #3b3b3b;
}
